{:project/name "File Upload",
 :project/tagline "Upload the File",
 :project/repo-url "http://C:\\Users\\Smart",
 :project/home-page-url "http://C:\\Users\\Smart",
 :project/description "browe the file"}
